body {background-color: moccasin;}

h1 {color: royalblue;margin: 20px; text-align: center;}

p {color:darkslategrey; margin: 15px ; text-align: center;}

ul {color: darkslategray; margin: 15px; text-align: center;}