body {background-color: moccasin;}

h1 {color: royalblue;margin: 20px; text-align: center;}

{<img src="/home/melanie/Desktop/Stack/Week2/Portfolio-Site-Skeleton/Stack/Week2/Portfolio-Site-Skeleton/Images/mjm.jpeg"
class="w3-round" img-align: center;}

p {color:darkslategrey; margin: 15px ; text-align: center;}

ul {color: darkslategray; margin: 15px; text-align: center;}